@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
body, html, h1, h2, h3, h4, h5, h6, a{
    font-family: 'Montserrat', sans-serif;
}
.card-style{
    cursor: pointer;
    min-width: 400px;
    box-shadow: 1px 1px 7px 2px #cccccc;
}
.card-style:hover{
    box-shadow: 1px 1px 7px 2px #7c7c7c;
    background-color: rgb(209, 209, 209)
}
.card-title{
    text-transform: uppercase;
    font-size: 18px;
}
.card-img {
    max-width: 100%;
    max-height: 100px;
    object-fit: contain;
    border-radius: 50px;
  }
  .card-fundo{
    width: 100%;
    background-color: rgba(138, 138, 138, 0.5);
    border-radius: 10px;
  }
  .modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0, -50px);
}
.modal.fade.show .modal-dialog {
    transform: translate(0, 0);
}